*{
	padding: 0; margin: 0;
	transition: all .5s;
}
html{
	scroll-behavior: smooth;
}
.bg-dark{
	background-color: transparent !important;
}
.navbar-brand{
	margin-right: auto;
	margin-left: 20px;
}
.navbar-nav{
	margin-right: 20px;
	margin-left: auto;
}
.navbar-nav a{
	margin-left: 20px;
	margin-right: 20px;
}
.navbar-nav a:hover{
	color: white !important;
}
.navbar-toggler:focus{
	outline: 0;
}
.header{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 0 10%;
	background-color: rgba(52,73,94,1);
	background-image: transparent;
	font-family: 'Ubuntu', sans-serif;
}
.blue{
	color: #4BBEDE;
}
.d-block{
	max-height: 700px;
}
.carousel{
	z-index: 0;
}

.about{
	text-align: center;
	padding: 90px 22%;
}
.about h2{
	text-align: center;
	color: black;
	font-size: 42px;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}
.about span{
	letter-spacing: 1px;
	font-size: 21px;
	line-height: 30px;
}
.babout{
	padding-top: 60px;
}
.button-about{
	border:1px solid #4fd0cc;
	background-color: #4fd0cc;
	color: white;
}
.button-about:hover{
	background-color: white;
	color:#4fd0cc;
}

.menu{
	padding-top: 70px;
	width: 100%;
	padding-bottom: 90px;
	background-image: linear-gradient(#0074d3, #4fd0cc);
	/* background-image: linear-gradient(#01a7cf, #4fd0cc);
	background-color: #03818f; */
}
.c-menu{
	width: 1200px;
	margin: 0px auto;
	display: flex;
	padding-top: 70px;
	padding-bottom: 70px;
}
.menu h2{
	text-align: center;
	color: white;
	font-size: 38px;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}
.menu-l, .menu-r, .menu-mid{
	width: 330px;
	display: flex;
	flex-direction: column;
	height: 500px;
	background-color: white;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px; 
}
.menu-mid{
	margin-left: 104px;
	margin-right: 104px;
}
.img{
	flex-basis: 60%;
	overflow: hidden;
}
.img img{
	width: 100%;
	height: 305px;
}
.menu-label{
	flex-basis: 40%;
	padding: 15px;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 auto;
	color: #504f4f;
}
.menu-label h3, .menu-label h4{
	font-weight: bold;
}
.menu-label h3{
	font-size: 32px;
	letter-spacing: 1px;
}
.menu-label span{
	letter-spacing: 1px;
	font-size: 17px;
}
.menu-label h4{
	font-weight: bold;
	font-size: 22px;
}
.m-left:hover{
	transform: scale(1.2, 1.2);
}
.m-left:hover .img img{
	transform: scale(1.2);
}
.b-center{
	width: 200px;
	margin: 0 auto;
}
.button-menu{
	width: 100%;
	height: 50px;
	border-radius: 30px;
	font-family: 'Ubuntu', sans-serif;
	margin: 0 auto;
	font-weight: bold;
}
.menu-button{
	border:1px solid white;
	background-color: white;
	color: #4fd0cc;
}
.menu-button:hover{
	background-color: #4fd0cc;
	color: white;
	border:1px solid white;
}
.button-menu:focus {
  outline: none;
  box-shadow: none;
}

.footer{
	width: 100%;
	padding: 80px 80px 60px 80px;
	background-color: #313036;
	display: flex;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 1px;
}
.f-left{
	flex-basis: 65%;
	padding-right: 90px;
	text-align: justify;
}
.f-left h3, .f-right h3 span{
	font-size: 34px;
}
.f-left h3 span, .f-right h3 span{
	color: #4BBEDE;
}
.licon{
	margin: 10px;
	padding: 10px 12px;
	border-radius: 5px;
}
.fa-facebook:hover{
	background-color: #5252B8;
	cursor: pointer;
}
.fa-twitter:hover{
	background-color: #00acee;
	cursor: pointer;
}
.fa-youtube-play:hover{
	background-color: red;
	cursor: pointer;
}
.fa-instagram:hover{
	background-color: #e95950;
	cursor: pointer;
}
.f-right{
	flex-basis: 35%;
}
table{
	width: 100%;
	height: 150px;
}
.tdl{
	width: 10%;
	text-align: center;
}
table tr td{
	vertical-align: top;
	text-align: justify;
}

.cr{
	text-align: center;
	background-color: #313036;
	color: white;
	letter-spacing: 1px;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 2px;
}



@media only screen and (max-width: 1280px){
	.c-menu{
		width: 1000px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.menu-l, .menu-r, .menu-mid{
		width: 293px;
		height: 450px;
	}
	.menu-mid{
		margin-left: 60px;
		margin-right: 60px;
	}
	.img img{
		height: 265px;
	}
}
@media only screen and (max-width: 1120px){
	.about{
		padding: 90px 18%;
	}
}
@media only screen and (max-width: 1080px){
	.c-menu{
		width: 900px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.menu-l, .menu-r, .menu-mid{
		width: 280px;
		height: 430px;
	}
	.img img{
		height: 220px;
	}
	.m-left:hover{
		transform: scale(1.1, 1.1);
	}
}
@media only screen and (max-width: 1000px){
	.about{
		padding: 80px 15%;
	}
	.about h2{
		font-size: 38px;
	}
	.about span{
		font-size: 22px;
	}
}

@media only screen and (max-width: 960px){
	.c-menu{
		width: 800px;
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.menu-l, .menu-r, .menu-mid{
		width: 270px;
		height: 420px;
	}
	.menu-mid{
		margin-left: 20px;
		margin-right: 20px;
	}
	.menu h2{
		font-size: 35px;
	}
	.menu-label h3{
		font-size: 28px;
	}
	.menu-label span{
		font-size: 15px;
	}
	.menu-label h4{
		font-size: 20px;
	}
	.img img{
		height: 245px;
	}
}
@media only screen and (max-width: 915px){
	.footer{
		width: 100%;
		padding: 60px 60px 40px 60px;
	}
	.f-left{
		flex-basis: 50%;
		padding-right: 50px;
	}
	.f-right{
		flex-basis: 50%;
	}
}
@media only screen and (max-width: 850px){
	.c-menu{
		width: 700px;
	}
	.menu-l, .menu-r, .menu-mid{
		width: 250px;
		height: 390px;
	}
	.menu h2{
		font-size: 32px;
	}
	.menu-label h3{
		font-size: 25px;
	}
	.menu-label span{
		font-size: 14px;
	}
	.menu-label h4{
		font-size: 19px;
	}
	.img img{
		height: 195px;
	}
}
@media only screen and (max-width: 760px){
	.footer{
		padding: 60px 20px 40px 20px;
	}
	.f-left{
		padding-right: 40px;
	}
	.about{
		padding: 80px 12%;
	}
}
@media only screen and (max-width: 740px){
	.c-menu{
		flex-direction: column;
		width: 500px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.menu-l, .menu-r, .menu-mid{
		width: 80%;
		margin: 15px auto;
		height: 520px;
	}
	.menu h2{
		font-size: 34px;
	}
	.menu-label h3{
		font-size: 27px;
	}
	.menu-label span{
		font-size: 16px;
	}
	.menu-label h4{
		font-size: 21px;
	}
	.img img{
		height: 312px;
	}

}
@media only screen and (max-width: 660px){
	.footer{
		flex-direction: column;
	}
	.icon{
		text-align: center;
	}
	.f-left{
		padding-right: 0;
	}
	.about{
		padding: 80px 10%;
	}
	.about h2{
		text-align: center;
		color: black;
		font-size: 36px;
	}
	.about span{
		font-size: 19px;
	}
}
@media only screen and (max-width: 570px){
	.c-menu{
		width: 400px;
	}
	.menu-l, .menu-r, .menu-mid{
		width: 100%;
	}
	.about{
		padding: 70px 20px;
	}
	.about h2{
		font-size: 34px;
	}
	.about span{
		font-size: 18px;
	}

}
@media only screen and (max-width: 500px){
	.c-menu{
		width: 350px;
	}
	.menu h2{
		font-size: 28px;
	}
}
@media only screen and (max-width: 450px){
	.c-menu{
		width: 300px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.img img{
		height: 300px;
	}
	.menu-l, .menu-r, .menu-mid{
		height: 470px;
	}
}